
.lrl{
    padding-bottom: 20px;
    margin-bottom: 50px;
}

section.faq{
    width: 50%;
    margin: 0;
    position: absolute;
    top: 2000px;
    left: 25%;
    text-align: center;
}
.question{
    width: 100%;
    color: #09B3B0;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: space-between;
    font-size: 12px;
    font-family:"Roboto", sans-serif ;
}
.hhh{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 43px;
    font-family: "Yrsa", serif;
}
.cont{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    text-align: left;
}
.read{
    width: 100px;
    height: 20px;
    text-align: center;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    color: #09B3B0;
    border: 1px solid  #09B3B0;
    border-radius: 5%;
    padding-top: 10px;
    position: absolute;
    left: 45%;
}